header {background-color:green
    }
    body {color: white;}
.cabecalho {
    background-color: blue;
    display: flex;
   

   .cabecalho-imagem {
        width: 10%;
        height: 10%;
    }
 
    .logo {
    width: 30%;
        height: 30%;
        align-content: center;
}
.cabecalho-lista {

    background-color: white;
    font-size: 20px;
}