header {background-color:green
    }
    body {color: white;}
.cabecalho {
    background-color: rgb(79, 144, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

   .cabecalho-imagem {
        width: 20%;
        height: 20%;
    }
 
    .logo {
    width: 30%;
    height: 30%;
   align-items: center;
}

