header {background-color:rgb(25, 177, 25)
    }
    body {color: black;}
    body{ text-align: center;}
    body {font-size: 30px;}


    
.cabecalho {
    background-color: rgb(29, 115, 243);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-imagem {
        width: 20%;
        height: 20%;
            }

  .imagem-texto {
    width: 40%;
    height: 40%;
    align-content: center;

  }


.cabecalho-lista-item {

    text-align: right;
    font-size: 40px;
    color: white;

}